*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height: 100%;
    background:white;
}

#inputContainer{
    position:absolute;
    top:11%;
    left:35%;
    width:30%;
    height:90%;
    border:3px solid black;
    border-radius:15%;
}



#SignIn{
    position:absolute;
    top:45%;
    left:20%;
    font-family: Dancing Script;

}



#LoginInfo{
   position:absolute;
   left:25%;
   top:57%; 
   width:55%;
   
}
#LoginInfo input[type="text"],input[type="password"]{
    position:relative;
    left:-3%;
}

#UsersUsername,#UsersPassword{
    outline: none;
    border: none;
    border: orange 1px solid;
    border-radius: 20px;
    margin-top: 5px;
    padding-left: 8px;
    margin-left:10px;
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
    font-family: delius;
   
}

#Gymbud_logoContainer{
    position:absolute;
    top:15%;
    left:30%;
    height:25%;
    width:35%;
}
#Gymbud_logoContainer img{
    position: relative;
    height:80%;
    left:25%;
    top:18%;
}

#Gymbud_logo{
    position: relative;
    top:20%;
    left:15%;
}

#UserLoginButton{
    position:absolute;
    background: orange;
    padding:5%;
    font-size: 12px;
    width:80%;
    height:30%;
    top:120%;
    left:10%;
    color:white;
    border-radius:20px;
    border:none;
    outline:none;
    
}

#hr1{
    position:absolute;
    top:13%;
    width:100%;
}

#hr2{
    position:absolute;   
    top:90%;
    width:100%;
}

#LoginIphonebutton{
    position: absolute;
    border-radius:50%;
    padding:5%;
    border: 2px solid black;
    top:92%;
    left:45%;
}

#SocialMediaAlternativesContainer{
    position:absolute;
    top:23%;
    left:75%;
    width:20%;
    height:23%;
    border: 2px outset black;
}

#UserSignInAlternative{
    font-size: 16px;
    font-family: delius;
    position: relative;
    left:8%;
    top:12%;
}


  
  i{
    background:white;
    position:relative;
    margin:15px;
    top:-10%;
    padding:4%;
  }
  
  #UserLoginIcons .fa-facebook{
    color:white;
    width:30%;
    text-align:center;
    background: #4285f4;
    padding: 4%;
    position: relative;
    top:-2%;
    
  }
  
  
  #UserLoginIcons .fa-google{
   width:80px;
   height:80px;
   border-radius:50%;
   position:absolute;
   border-top: 15px solid #ea4335;
   border-bottom: 15px solid #34a853;
   border-left: 15px solid #fbb605;
   border-right: 15px solid #4285f4;
  

    
  }
  
  #UserLoginIcons .fa-google:before{
    content: '';
    position:absolute;
    top:-75%;
    left:38%;
    border-top: 35px solid transparent;
   border-bottom: 35px solid #fff;
   border-left: 35px solid transparent;
   border-right: 35px solid transparent;
   border-radius: 0%;
  }

  #UserLoginIcons .fa-google:after{
    content: '';
    position:absolute;
    width:40px;
    height:15px;
    top:40%;
    left:50%;
    background: #4285f4;
  }
  
  #UserLoginIcons {
    position:relative;
    width: 80%;
    height:50%;
    top:15%;
    left:10%;

    
  }

  h5{
      font-family:delius;
      position:absolute;
      top:160%;
      left:17%;
      color:orange;
  }

  #AppStoreDownload{
      background:black;
      position: absolute;
      top:70%;
      left:70%;
      color:white;
      padding: 20px;
      border-radius: 15px;
      border:none;
      font-size:10px;
      width:13%;
  }

  #PlayStoreDownload{
    background:black;
    position: absolute;
    top:70%;
    left:85%;
    color:white;
    padding: 20px;
    border-radius: 15px;
    border:none;
    font-size:10px;
    width:13%;
}
#PlayStoreLine{
    font-size: 17px;
}

#PlayStoreLine:hover{
    font-size: 17px;
    color:orange;
}



  #AppStoreLine:hover{
      font-size: 17px;
      color:orange;
  }

  #AppStoreLine{
    font-size: 17px;
}


  .fa-apple{
      position:absolute;
      color:white;
      background:black;
      top:-5%;
      left:-5%;
  }


  .fa-play{
    position:absolute;
    color:white;
    background:black;
    top:-5%;
    left:-5%;
}

  #GetTheApp{
      font-family: Indie Flower;
      font-size: 24px;
      position:absolute;
      left:78%;
      top: 62%;
  }
  