*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration:none;
}

.container{
    position: absolute;
    height:10%;
    background: white;
    width:100%;
    border-bottom: 1px solid orange ;
}

.heading{
    position: absolute;
    left:2%;
}

h3{
    font-family:delius;
    font-size:18px;
    position: relative;
    left:75%;
    top:35%;
    


}

#UserSignUp{
    position: relative;
    color:orange;
}


