*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height: 100%;
    background:white;
}

#inputContainer{
    position:absolute;
    top:15%;
    left:28%;
    width:40%;
    height:80%;
}

#WelcomeMessage{
    position:absolute;
    left:30%;
    top:10%;
   
}
#WelcomeMessage h1{
    position: relative;
    left:-5%;
    top:50%;  
    font-family: Dancing Script;
}


#LoginInfo{
   position:absolute;
   left:25%;
   top:55%; 
   width:55%;
   
}
#LoginInfo input[type="text"],input[type="password"]{
    position:relative;
    left:-3%;
}

#UsersUsername,#UsersPassword{
    outline: none;
    border: none;
    border: orange 1px solid;
    border-radius: 20px;
    margin-top: 5px;
    padding-left: 8px;
    margin-left:10px;
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
    font-family: delius;
   
}

#Gymbud_logoContainer{
    position:absolute;
    top:115%;
    left:-5%;
    height:500%;
    width:100%;
}
#Gymbud_logoContainer img{
    height:80%;
    position: relative;
    left:30%;
}
#Gymbud_logo{
    position: relative;
    top:20%;
    left:15%;
}

#UserLoginButton{
    position:absolute;
    background: orange;
    padding:5%;
    font-size: 12px;
    width:80%;
    height:30%;
    top:120%;
    left:10%;
    color:white;
    border-radius:20px;
    border:none;
    outline:none;
    
}