*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height: 100%;
    background:white;
}

#inputContainer{
    position:absolute;
    top:12%;
    left:35%;
    width:30%;
    height:90%;
    border:3px solid black;
    border-radius:15%;
}



#SignIn{
    position:absolute;
    top:45%;
    left:20%;
    font-family: Dancing Script;

}



#LoginInfo{
   position:absolute;
   left:25%;
   top:57%; 
   width:55%;
   
}
#LoginInfo input[type="text"],input[type="password"]{
    position:relative;
    left:-3%;
}

#UsersUsername,#UsersPassword{
    outline: none;
    border: none;
    border: orange 1px solid;
    border-radius: 20px;
    margin-top: 5px;
    padding-left: 8px;
    margin-left:10px;
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
    font-family: delius;
   
}

#Gymbud_logoContainer{
    position:absolute;
    top:15%;
    left:30%;
    height:25%;
    width:35%;
}
#Gymbud_logoContainer img{
    position: relative;
    height:80%;
    left:25%;
    top:18%;
}

#Gymbud_logo{
    position: relative;
    top:20%;
    left:15%;
}

#UserLoginButton{
    position:absolute;
    background: orange;
    padding:5%;
    font-size: 12px;
    width:80%;
    height:30%;
    top:120%;
    left:10%;
    color:white;
    border-radius:20px;
    border:none;
    outline:none;
    
}

#hr1{
    position:absolute;
    top:13%;
    width:100%;
}

#hr2{
    position:absolute;   
    top:90%;
    width:100%;
}

#LoginIphonebutton{
    position: absolute;
    border-radius:50%;
    padding:5%;
    border: 2px solid black;
    top:92%;
    left:45%;
}

#SocialMediaAlternativesContainer{
    position:absolute;
    top:23%;
    left:75%;
    width:20%;
    height:20%;
    background: red;
}

#UserSignInAlternative{
    font-size: 16px;
    font-family: delius;
    position: relative;
    left:8%;
    top:12%;
}

#UserSocialIconsContainer{
    position:absolute;
    width: 100%;
    height:30%;
    top: 55%;
    left:10%;

  }
  
  i{
    background:white;
    padding:2.5%;
    position:relative;
    left:10%;
    margin:20px;
  }
  
  #UserLoginIcons .fa-facebook{
    color:white;
    width:4%;
    text-align:center;
    background: #29B;
    
  }
  
  
  #UserLoginIcons .fa-gmail{
    color:#29B6F6;
    width:4%;
    text-align:center;
    
  }
  
  
  
  #UserLoginIcons {
    position:relative;
    left:5%;
  }
  